.single-movie-template {
	padding: 1rem;
	border-radius: 0.4rem;
	background-color: var(--global-colors-black300);

	@include media(desktop up) {
		display: grid;
		grid-template-columns: 16rem 2fr;
		grid-template-rows: 1fr 0.5fr 3.5fr;
		column-gap: 3rem;
	}

	&__title {
		@include media(desktop up) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}

	&__genre {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5rem;

		margin-bottom: 1rem;

		@include media(desktop up) {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}

	&__genre-link {
		color: #fff;
		text-decoration: none;
		background-color: transparent;

		padding: 0.4rem 0.8rem;
		border-radius: 1rem;
		border: 1px solid var(--global-colors-white);

		transition: 0.2s background-color ease-in-out;

		&:hover,
		&:focus {
			background-color: var(--global-colors-black400);
		}
	}

	&__content {
		@include media(desktop up) {
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}

	&__image {
		width: 100%;
		height: 27rem;

		display: block;
		overflow: hidden;
		position: relative;

		@include media(desktop up) {
			width: 16rem;
			height: 23rem;

			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}
	}

	&__image img {
		width: 100%;
		height: 100%;

		object-fit: cover;
		object-position: center;
		display: block;
		border-radius: 0.4rem;
	}
}
